# Ignore everything:
*

# Do not ignore these files:
!*/
!.gitignore
!*.md
!configuration.yaml
!automations.yaml
!climate.yaml
!fan.yaml
!groups.yaml
!scenes.yaml
!scripts.yaml
!mysensors.yaml
!notifications.yaml
!templates.yaml
!media_player.yaml
!mqtt.yaml

# Dashboard
!.storage/lovelace
!ui-lovelace.yaml
!lovelace/**

# Smart IR
!custom_components/smartir/custom_codes/**
!custom_components/smartir/codes/climate/1002.json
!custom_components/smartir/codes/climate/1003.json
!custom_components/smartir/codes/fan/1001.json

!broadlink_remote*

!esphome/
!esphome/**
esphome/secrets.yaml
