# Ignore everything:
*

# Do not ignore these files:
!*/
!.gitignore
!*.md
!configuration.yaml
!automations.yaml
!climate.yaml
!fan.yaml
!groups.yaml
!scenes.yaml
!scripts.yaml
!mysensors.yaml
!notifications.yaml
!templates.yaml
!media_player.yaml
!mqtt.yaml
!automations/*.yaml

# Dashboard
!.storage/lovelace
!ui-lovelace.yaml
!lovelace/**

# Blueprints
!blueprints/
!blueprints/**

# Smart IR
!custom_components/smartir/custom_codes/**
!custom_components/smartir/codes/climate/1002.json
!custom_components/smartir/codes/climate/1003.json
!custom_components/smartir/codes/fan/1001.json

!broadlink_remote*

!esphome/
!esphome/**
esphome/secrets.yaml
!config/
!config/**
!docs/
!docs/**
!automations/
!automations/**

secrets.yaml
*.db
*.db-shm
*.db-wal


!.github/workflows/yaml-lint.yml
!.github/workflows/ha-validate.yml
!.yamllint
!secrets.yaml.example
!docs/GITHUB_ACTIONS_SETUP.md
