- id: '1762940525728'
  alias: Living Room - Lights Off When Watching TV
  description: Turns off selected lights when the living room TV is in use.
  triggers:
  - trigger: state
    entity_id:
    - media_player.tv
    to: playing
    for:
      hours: 0
      minutes: 5
      seconds: 0
    id: Playing
  - trigger: state
    entity_id:
    - media_player.tv
    to: paused
    for:
      hours: 0
      minutes: 0
      seconds: 0
    id: Paused
  - trigger: state
    entity_id:
    - media_player.tv
    to: 'off'
    for:
      hours: 0
      minutes: 0
      seconds: 0
    id: TurnedOff
  - trigger: state
    entity_id:
    - media_player.tv
    to: idle
    for:
      hours: 0
      minutes: 0
      seconds: 0
    id: TurnedOff
  conditions:
  - condition: sun
    after: sunset
    before: sunrise
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id:
        - Playing
      - condition: time
        after: '20:30:00'
        before: 00:00:00
      sequence:
      - action: light.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: light.living_room_light_socket_1
    - conditions:
      - condition: or
        conditions:
        - condition: time
          after: 00:00:00
          before: '20:30:00'
        - condition: trigger
          id:
          - Paused
        - condition: trigger
          id:
          - TurnedOff
      sequence:
      - action: scene.turn_on
        target:
          entity_id: scene.living_room_evening
        data: {}
  mode: single
- id: 'front_door_switch_office_led'
  alias: Front Door ZHA Switch - Toggle Office LED Strip
  description: Toggles the office LED strip light when the front door switch is pressed
  triggers:
  - platform: event
    event_type: zha_event
    event_data:
      device_id: REPLACE_WITH_DEVICE_ID
      command: remote_button_short_press
  conditions: []
  actions:
  - action: light.toggle
    metadata: {}
    data: {}
    target:
      entity_id: light.led_strip_office_light
  mode: single
