mode: yaml
dashboards:
  ui-dashboard:
    mode: storage
    title: UI Dashboard
    icon: mdi:monitor-dashboard
    show_in_sidebar: true
resources:
  - url: /hacsfiles/lovelace-card-mod/card-mod.js
    type: module
  - url: /hacsfiles/bar-card/bar-card.js
    type: module
  - url: /hacsfiles/better-thermostat-ui-card/better-thermostat-ui-card.js
    type: module
  - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
    type: module
  - url: /hacsfiles/lovelace-template-entity-row/template-entity-row.js
    type: module
  - url: /hacsfiles/config-template-card/config-template-card.js
    type: module
  - url: /hacsfiles/upcoming-media-card/upcoming-media-card.js
    type: module
  - url: /hacsfiles/button-card/button-card.js
    type: module
  - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
    type: module
  - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
    type: module
  - url: /hacsfiles/my-cards/my-cards.js
    type: module
  - url: /hacsfiles/light-entity-card/dist/light-entity-card.js
    type: module
  - url: /hacsfiles/simple-weather-card/simple-weather-card-bundle.js
    type: module
  - url: /hacsfiles/weather-radar-card/weather-radar-card.js
    type: module
  - url: /hacsfiles/lovelace-state-switch/state-switch.js
    type: module
  - url: /hacsfiles/week-planner-card/week-planner-card.js
    type: module
  - url: /hacsfiles/lovelace-navbar-card/navbar-card.js
    type: module
  - url: /local/community/lovelace-layout-card/layout-card.js
    type: module
