esphome:
  name: esphome-web-f57460
  friendly_name: HenrysRoom
  min_version: "2024.6.0"
  name_add_mac_suffix: false

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret esphome_web_f57460_api_key

ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esphome-Web-F57460"
    password: !secret esphome_web_f57460_fallback_password

captive_portal: {}

time:
  - platform: homeassistant
    id: ha_time

sensor:
  - platform: xiaomi_lywsd03mmc
    mac_address: "A4:C1:38:A8:17:FD"
    bindkey: !secret xiaomi_ble_bindkey_1
    temperature:
      name: "HenrysRoom Temperature"
      on_value:
        then:
          - lambda: |-
              id(henry_last_seen).publish_state(id(ha_time).now().timestamp);
    humidity:
      name: "HenrysRoom Humidity"
    battery_level:
      name: "HenrysRoom Battery Level"

  - platform: template
    id: henry_last_seen
    name: "HenrysRoom Temperature Last Seen"
    lambda: 'return 0;'
    update_interval: never

  - platform: xiaomi_lywsd03mmc
    mac_address: "A4:C1:38:F1:20:5C"
    bindkey: !secret xiaomi_ble_bindkey_2
    temperature:
      name: "OttosRoom Temperature"
      on_value:
        then:
          - lambda: |-
              id(otto_last_seen).publish_state(id(ha_time).now().timestamp);
    humidity:
      name: "OttosRoom Humidity"
    battery_level:
      name: "OttosRoom Battery Level"

  - platform: template
    id: otto_last_seen
    name: "OttosRoom Temperature Last Seen"
    lambda: 'return 0;'
    update_interval: never

bluetooth_proxy: {}

esp32_ble_tracker: {}
