esphome:
  name: frontentrance
  friendly_name: FrontEntrance
  min_version: "2024.6.0"
  name_add_mac_suffix: false

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret esphome_frontentrance_api_key

ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid_iot
  password: !secret wifi_password_iot

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "FrontEntrance Fallback Hotspot"
    password: !secret esphome_frontentrance_fallback_password

captive_portal: {}

bluetooth_proxy: {}

esp32_ble_tracker: {}
