esphome:
  name: livingroom

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:

api:
  encryption:
    key: "jFXd3yK0HcC/rgrRHvcIDInmjaLalx+IIXK1b5yMqiU="
ota:
  - platform: esphome
  
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

bluetooth_proxy:
  active: true

esp32_ble_tracker:
  scan_parameters:
    active: true
